<div class="container">
  <h1>Ask or say something to your coach!</h1>
  <form action="/answer" method="GET">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
